language = "java10"

# run = "java JHelloWorld.java"
# run = "java JSubtraction.java"
# run = "java JExampleMethod.java"
# run = "java JSum.java"
# run = "java JTheAreaOfCircle.java"
# run = "java JLeapYear.java"
# run = "java JTimeTranslations.java"
# run = "java JCompareDouble.java"
# run = "java JEncryption.java"
#run = "java JArraysExample.java"

run = "java JReverseText.java"
# run = "java "
# run = "java "
# run = "java "
# run = "java "
# run = "java "
# run = "java "
# run = "java "
